
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: var(--rootblack);
    text-decoration: none;
    padding: 0 1rem;
}
.navbar{
    position: sticky;
    top: 0;
    height: 3rem;
    width: 100%;
    background: var(--rootwhite);
    display: flex;
    z-index: 1;
    align-items: center;
}